body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.header {
  font-family: 'Jersey 20', sans-serif;
  font-size: 6rem;
  color: 'black';
  text-align: center;
}

.subHeader {
  font-size: 3rem;
}

.gameForm {
  display: flex;
  flex-direction: column;
  font-family: 'Galindo', sans-serif;

  background-color: black;
  color: white;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 8px;
  gap: 1rem;
}

.letter {
  text-align: center;
  max-width: 320px;
  background-color: white;
  color: black;
}

.info {
  text-align: center;
  max-width: 600px;
  background-color: white;
  color: black;
}

.singleForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Galindo', sans-serif;
}

.singleForm input {
  padding: 0.5rem;
  font-size: 1rem;
}

.resultContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 1200px;
}

.submitButton {
  width: 105px;
  height: 45px;
  background-color: black;
  color: white;
  font-family: 'Galindo', sans-serif;
  font-size: large;
  margin-top: 1rem;

  align-self: center;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: 'Galindo', sans-serif;
  font-size: 2.5rem;
  text-align: center;

  color: black;
  max-width: 400px;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  gap: 1rem;
}
