body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.gameForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.singleForm {
  flex-direction: row;
  margin: 1%;
}

.results {
  margin: 5%;
}
